target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
/jianke-pay-web/src/main/resources/index.js
/jianke-pay-web/src/main/resources/package.json
/jianke-pay-web/src/main/resources/node_modules
/vue2/node_modules
